---
version: 1
interactions:
- request:
    body: '{"PartitionKey":"claims","RowKey":"claim1","data":"Y2xhaW0x","data@odata.type":"Edm.Binary","group":"test1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 18 Nov 2020 15:36:52 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27claims%27,RowKey=%27claim1%27%29?timeout=60
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2020-11-18T15%3A36%3A51.8699608Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 15:36:53 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27claims%27,RowKey=%27claim1%27%29?timeout=60
    method: GET
  response:
    body: '{"odata.metadata":"https://porterstorageplugin.table.core.windows.net/$metadata#porter/@Element","odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.8699608Z''\"","PartitionKey":"claims","RowKey":"claim1","Timestamp":"2020-11-18T15:36:51.8699608Z","data@odata.type":"Edm.Binary","data":"Y2xhaW0x","group":"test1"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2020-11-18T15%3A36%3A51.8699608Z'"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 15:36:53 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter?%24filter=PartitionKey+eq+%27claims%27+and+group+eq+%27test1%27&timeout=60
    method: GET
  response:
    body: '{"odata.metadata":"https://porterstorageplugin.table.core.windows.net/$metadata#porter","value":[{"odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.8699608Z''\"","PartitionKey":"claims","RowKey":"claim1","Timestamp":"2020-11-18T15:36:51.8699608Z","data@odata.type":"Edm.Binary","data":"Y2xhaW0x","group":"test1"},{"odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.8979804Z''\"","PartitionKey":"claims","RowKey":"claim2","Timestamp":"2020-11-18T15:36:51.8979804Z","data@odata.type":"Edm.Binary","data":"Y2xhaW0y","group":"test1"},{"odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.9269987Z''\"","PartitionKey":"claims","RowKey":"claim3","Timestamp":"2020-11-18T15:36:51.9269987Z","data@odata.type":"Edm.Binary","data":"Y2xhaW0z","group":"test1"}]}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      If-Match:
      - '*'
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 18 Nov 2020 15:36:53 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27claims%27,RowKey=%27claim1%27%29?timeout=60
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
