---
version: 1
interactions:
- request:
    body: '{"PartitionKey":"installations","RowKey":"installation1","data":null,"data@odata.type":"Edm.Binary","group":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 18 Nov 2020 15:36:52 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27installations%27,RowKey=%27installation1%27%29?timeout=60
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2020-11-18T15%3A36%3A51.5057167Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 15:36:52 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27installations%27,RowKey=%27installation1%27%29?timeout=60
    method: GET
  response:
    body: '{"odata.metadata":"https://porterstorageplugin.table.core.windows.net/$metadata#porter/@Element","odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.5057167Z''\"","PartitionKey":"installations","RowKey":"installation1","Timestamp":"2020-11-18T15:36:51.5057167Z","group":""}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2020-11-18T15%3A36%3A51.5057167Z'"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 15:36:52 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter?%24filter=PartitionKey+eq+%27installations%27+and+group+eq+%27%27&timeout=60
    method: GET
  response:
    body: '{"odata.metadata":"https://porterstorageplugin.table.core.windows.net/$metadata#porter","value":[{"odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.5057167Z''\"","PartitionKey":"installations","RowKey":"installation1","Timestamp":"2020-11-18T15:36:51.5057167Z","group":""},{"odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.5367376Z''\"","PartitionKey":"installations","RowKey":"installation2","Timestamp":"2020-11-18T15:36:51.5367376Z","group":""},{"odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.5647568Z''\"","PartitionKey":"installations","RowKey":"installation3","Timestamp":"2020-11-18T15:36:51.5647568Z","group":""}]}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      If-Match:
      - '*'
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 18 Nov 2020 15:36:52 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27installations%27,RowKey=%27installation1%27%29?timeout=60
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
