---
version: 1
interactions:
- request:
    body: '{"PartitionKey":"claims","RowKey":"claim1","data":"Y2xhaW0x","data@odata.type":"Edm.Binary","group":"test1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 18 Nov 2020 16:41:19 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27claims%27,RowKey=%27claim1%27%29?timeout=60
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2020-11-18T16%3A41%3A18.0451665Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 16:41:19 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27claims%27,RowKey=%27claim4%27%29?timeout=60
    method: GET
  response:
    body: '{"odata.metadata":"https://porterstorageplugin.table.core.windows.net/$metadata#porter/@Element","odata.etag":"W/\"datetime''2020-11-18T16%3A41%3A18.1312255Z''\"","PartitionKey":"claims","RowKey":"claim4","Timestamp":"2020-11-18T16:41:18.1312255Z","data@odata.type":"Edm.Binary","data":"Y2xhaW00","group":"test2"}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2020-11-18T16%3A41%3A18.1312255Z'"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 16:41:19 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter?%24filter=PartitionKey+eq+%27claims%27+and+group+eq+%27test1%27&timeout=60
    method: GET
  response:
    body: '{"odata.metadata":"https://porterstorageplugin.table.core.windows.net/$metadata#porter","value":[{"odata.etag":"W/\"datetime''2020-11-18T16%3A41%3A18.0451665Z''\"","PartitionKey":"claims","RowKey":"claim1","Timestamp":"2020-11-18T16:41:18.0451665Z","data@odata.type":"Edm.Binary","data":"Y2xhaW0x","group":"test1"},{"odata.etag":"W/\"datetime''2020-11-18T16%3A41%3A18.0731854Z''\"","PartitionKey":"claims","RowKey":"claim2","Timestamp":"2020-11-18T16:41:18.0731854Z","data@odata.type":"Edm.Binary","data":"Y2xhaW0y","group":"test1"},{"odata.etag":"W/\"datetime''2020-11-18T16%3A41%3A18.1032061Z''\"","PartitionKey":"claims","RowKey":"claim3","Timestamp":"2020-11-18T16:41:18.1032061Z","data@odata.type":"Edm.Binary","data":"Y2xhaW0z","group":"test1"}]}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      If-Match:
      - '*'
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 18 Nov 2020 16:41:19 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27claims%27,RowKey=%27claim1%27%29?timeout=60
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
