---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 16:41:18 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27schema%27,RowKey=%27schema%27%29?timeout=60
    method: GET
  response:
    body: '{"odata.metadata":"https://porterstorageplugin.table.core.windows.net/$metadata#porter/@Element","odata.etag":"W/\"datetime''2020-11-18T15%3A36%3A51.4226618Z''\"","PartitionKey":"schema","RowKey":"schema","Timestamp":"2020-11-18T15:36:51.4226618Z","data@odata.type":"Edm.Binary","data":"c2NoZW1hIGRhdGE=","group":""}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      Etag:
      - W/"datetime'2020-11-18T15%3A36%3A51.4226618Z'"
      X-Ms-Version:
      - "2018-03-28"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      If-Match:
      - '*'
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 18 Nov 2020 16:41:18 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27schema%27,RowKey=%27schema%27%29?timeout=60
    method: DELETE
  response:
    body: ""
    headers:
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      x-ms-date:
      - Wed, 18 Nov 2020 16:41:18 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27schema%27,RowKey=%27schema%27%29?timeout=60
    method: GET
  response:
    body: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
      specified resource does not exist.\nRequestId:57cd0ddb-8002-0092-79c9-bdc8ad000000\nTime:2020-11-18T16:41:17.5832037Z"}}}'
    headers:
      Content-Type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      X-Ms-Version:
      - "2018-03-28"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"PartitionKey":"schema","RowKey":"schema","data":"c2NoZW1hIGRhdGE=","data@odata.type":"Edm.Binary","group":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Prefer:
      - return-no-content
      x-ms-date:
      - Wed, 18 Nov 2020 16:41:18 GMT
      x-ms-version:
      - "2018-03-28"
    url: https://porterstorageplugin.table.core.windows.net/porter%28PartitionKey=%27schema%27,RowKey=%27schema%27%29?timeout=60
    method: PUT
  response:
    body: ""
    headers:
      Etag:
      - W/"datetime'2020-11-18T16%3A41%3A17.6118746Z'"
      Preference-Applied:
      - return-no-content
      X-Ms-Version:
      - "2018-03-28"
    status: 204 No Content
    code: 204
    duration: ""
[...]
