# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: build
on: [workflow_dispatch, push, pull_request]

env:
  # Make mage super verbose ALL THE TIME
  MAGEFILE_VERBOSE: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum
      - name: Configure Agent
        run: go run mage.go ConfigureAgent
      - name: Build
        run: mage Build
      - name: Test
        run: mage Test
      - name: Cross Compile
        run: mage XBuildAll
      - name: Publish
        if: ${{ github.event_name == 'push' }}
        run: mage Publish
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
